<header class="header">
  <h1>Wazimo Test</h1>
</header>

<main>
  <mat-form-field>
    <input matInput  placeholder="Filter" (keyup)="applyFilter($event)">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id
        <div>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="idFilter" placeholder="Id Filter">
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef> First Name
        <div>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="firstNameFilter" placeholder="First Name Filter">
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef> Last Name
        <div>
          <div>
            <mat-form-field>
              <input matInput class="form-field" [formControl]="lastNameFilter" placeholder="Last Name Filter">
            </mat-form-field>
          </div>
        </div>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email
        <div>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="emailFilter" placeholder="Email Filter">
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender
        <div>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="genderFilter" placeholder="Gender Filter">
        </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="ip_address">
      <th mat-header-cell *matHeaderCellDef> IP Address
        <div>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="ipFilter" placeholder="IP Filter">
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.ip_address}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
</main>
